html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "NoeDisplay";
  src: url("../fonts/NoeDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
body {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 42px;
}

.heading {
  font-family: "NoeDisplay", sans-serif;
  font-weight: 700;
  font-size: 55px;
  line-height: 70px;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #000000;
}

html,
body {
  height: 100%;
  margin: 0;
}

ul, li {
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
}

input {
  outline: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.container {
  max-width: 1105px;
  margin: 0 auto;
  padding: 0 15px;
}

.image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.logo--header {
  height: 55px;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button {
  position: relative;
  font-family: "Gilroy", sans-serif;
  font-weight: 800;
  font-size: 30px;
  line-height: 160%;
  letter-spacing: 0.03em;
  color: #000000;
  background-color: #fbb03b;
  border-radius: 100px;
}
.button::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 50px;
  -webkit-transform: translateY(-33%);
  -ms-transform: translateY(-33%);
  transform: translateY(-33%);
  width: 24px;
  height: 24px;
  background-image: url(../images/icons/sprite.svg#arrow-btn);
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-transition: right 0.3s linear;
  -o-transition: right 0.3s linear;
  transition: right 0.3s linear;
}

.unvisible {
  position: absolute;
  left: -3000px;
  overflow: hidden;
  width: 0;
  height: 0;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 39px;
  padding-bottom: 39px;
  color: #ffffff;
  z-index: 100;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__link--logo {
  width: 116px;
  height: 55px;
  -webkit-transform: translateX(-89px);
  -ms-transform: translateX(-89px);
  transform: translateX(-89px);
}
.header__link--phone {
  margin-top: 6px;
  font-weight: 800;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.2em;
  color: #fbb03b;
  -webkit-transform: translateX(-63px);
  -ms-transform: translateX(-63px);
  transform: translateX(-63px);
}

.nav {
  margin-top: 6px;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.nav__item {
  font-weight: 800;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #f6f6f6;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.nav__item:not(:last-child) {
  margin-right: 39px;
}

.main-slider {
  position: relative;
  height: 100vh;
  max-height: 800px;
  background-color: #000000;
  color: #ffffff;
}
.main-slider__container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.main-slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-slider__slide::before {
  position: absolute;
  content: "";
  top: 0;
  left: -16px;
  background-image: url(../images/slider-aside.svg);
  background-size: cover;
  background-position: 0 0;
  height: 100%;
  width: 321px;
  z-index: 3;
}
.main-slider__slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.6;
  z-index: 1;
}
.main-slider__head {
  position: relative;
  max-width: 915px;
  font-size: 100px;
  line-height: 120px;
  color: #ffffff;
  z-index: 5;
}
.main-slider__head span {
  color: #fbb03b;
}
.main-slider__btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 22px;
  width: 25px;
  cursor: pointer;
  z-index: 12;
}
.main-slider__btn-prev {
  left: calc(50% - 545px);
}
.main-slider__btn-fill {
  width: 25px;
  height: 22px;
  fill: #d3d3d3;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}
.main-slider__btn-next {
  right: calc(50% - 561px);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.slider-aside {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 800px;
  width: 321px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.slider-aside__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 542px;
  margin-left: 55px;
  margin-bottom: 33px;
  z-index: 3;
}
.slider-aside__divider {
  width: 1px;
  height: 100px;
  background-color: #fbb03b;
}
.slider-aside__text {
  height: 270px;
  width: 19px;
}
.slider-aside__text span {
  -webkit-transform: rotate(-90deg) translate(-48%, -655%);
  -ms-transform: rotate(-90deg) translate(-48%, -655%);
  transform: rotate(-90deg) translate(-48%, -655%);
  display: block;
  width: 270px;
  font-weight: 300;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0.3em;
  color: #f6f6f6;
}

.social__item {
  margin: 0;
  padding: 0;
  line-height: 1;
}
.social__item:not(:last-child) {
  margin-bottom: 20px;
}
.social__icon {
  width: 25px;
  height: 25px;
  fill: #A0958C;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.main-about {
  position: relative;
  padding-top: 124px;
  padding-bottom: 263px;
  background-color: #e3e3e1;
  background-image: url(../images/bg/about-bg.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
.main-about__head {
  margin-bottom: 36px;
  font-weight: 700;
  font-size: 55px;
  line-height: 70px;
  text-transform: lowercase;
  color: #d3d3d3;
}
.main-about__head span {
  color: #fbb03b;
}
.main-about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.main-about__descr {
  max-width: 540px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.main-about__text:not(:last-child) {
  margin-bottom: 42px;
}
.main-about__text span {
  color: #fbb03b;
}
.main-about__intro {
  width: 352px;
  height: 578px;
  margin: 10px 10px 88px 0;
}
.main-about__image {
  width: 352px;
  height: 578px;
  -o-object-fit: cover;
  object-fit: cover;
}
.main-about__spec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  counter-reset: section;
}
.main-about__spec-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  max-width: 183px;
}
.main-about__spec-wrap:not(:last-child) {
  margin-right: 19px;
}
.main-about__spec-wrap::before {
  position: absolute;
  counter-increment: section;
  content: "0" counter(section);
  left: 17px;
  top: 123px;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
}
.main-about__spec-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 115px;
  height: 115px;
  margin: 0 auto;
  margin-bottom: 45px;
  background-color: #fbb03b;
  border-radius: 50%;
}
.main-about__spec-icon--chair {
  width: 60px;
  height: 55px;
}
.main-about__spec-icon--wardrobe {
  width: 53px;
  height: 59px;
}
.main-about__spec-icon--home {
  width: 66px;
  height: 50px;
}
.main-about__spec-title {
  margin-bottom: 4px;
  color: #fbb03b;
  font-size: 25px;
  line-height: 160%;
}
.main-about__spec-title span {
  font-weight: 800;
}
.main-about__spec-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
}
.main-about__wrap-btn {
  padding-top: 21px;
  padding-right: 18px;
}
.main-about__btn {
  height: 80px;
  padding: 15px 76px 15px 52px;
}

.mini-slider {
  padding-top: 133px;
  padding-bottom: 100px;
  background-color: #000000;
}
.mini-slider__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.mini-slider__intro {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 55px;
  margin-left: -7px;
  width: 311px;
  height: 513px;
}
.mini-slider__slider {
  position: relative;
  width: 700px;
  height: 577px;
  background-color: #000000;
}
.mini-slider__slider-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 919px;
}
.mini-slider__slide {
  width: 919px;
  height: 577px;
}
.mini-slider__btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 22px;
  width: 25px;
  cursor: pointer;
  z-index: 12;
}
.mini-slider__btn-prev {
  left: 60px;
}
.mini-slider__btn-fill {
  width: 25px;
  height: 22px;
  fill: #000000;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}
.mini-slider__btn-next {
  right: 60px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.mini-slider__button {
  margin-top: 37px;
  padding: 14px 74px 14px 52px;
}

.footer {
  padding-top: 50px;
  padding-bottom: 121px;
  background-color: #000000;
  color: #ffffff;
}
.footer__head {
  margin-bottom: 56px;
  color: #fbb03b;
  text-transform: lowercase;
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 98px;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__item {
  margin-bottom: 0 !important;
  background-color: #000000;
  border: 2px solid #c4c4c4;
  border-radius: 100%;
  -webkit-transition: border 0.3s ease-in-out;
  -o-transition: border 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;
}
.footer__item:not(:last-child) {
  margin-right: 48px;
}
.footer__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 87px;
  height: 87px;
}
.footer__item svg {
  width: 39px;
  height: 39px;
  fill: #c4c4c4;
}
.footer__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 20px;
  line-height: 160%;
  color: #c4c4c4;
}
.footer__data a {
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.footer__adress {
  font-size: 20px;
  line-height: 160%;
  color: #c4c4c4;
  font-style: normal;
}
.footer__copyright {
  font-size: 14px;
  line-height: 160%;
  color: #737272;
}

@media (min-width: 992px) {
  .button:hover::before {
    right: 40px;
  }

  .nav__item:hover {
    color: #fbb03b;
  }

  .main-slider__btn-fill:hover {
    fill: #fbb03b;
  }

  .social__icon:hover {
    fill: #fbb03b;
  }

  .mini-slider__btn-fill:hover {
    fill: #fbb03b;
  }

  .footer__item:hover {
    border-color: #fbb03b;
  }

  .footer__item:hover svg {
    fill: #fbb03b;
  }

  .footer__data a:hover {
    color: #fbb03b;
  }
}
/*# sourceMappingURL=style.css.map */
