@media ( max-width:1350px )
  .mini-slider__slider-wrapper
    width: 850px

@media ( max-width:1300px )
  .header__link--logo-index
    transform: translateX(-40px)
  .main-slider__container
    justify-content: center
  .main-slider__head
    font-size: 90px
  .main-slider__btn-next
    right: calc(50% - 547px)
  .mini-slider__slider-wrapper
    width: 800px

@media ( max-width:1200px )
  .header__link--logo-index
    transform: none
  .main-slider__head
    font-size: 85px
  .main-slider__slide::before
    left: -40px
  .page-hero__wrapper .slider-aside
    left: 0px
  .slider-aside__content
    // margin-left: 30px
  .mini-slider__slider-wrapper
    width: 730px
  .page__work
    &:first-child::before
      left: -15px
    &:last-child::before
      right: -30px

@media ( max-width:1100px )
  .header__link--logo-index
    transform: none
  .main-slider__container
    margin-left: 40px
  .main-slider__head
    font-size: 80px
  .main-slider__btn-prev
    left: 7%
  .main-slider__btn-next
    right: 5%
  .slider-aside__content
    // margin-left: 15px
  .main-slider__slide::before
    left: -55px
  .mini-slider__container
    justify-content: space-between
  .mini-slider__intro
    width: 28%
    height: auto
  .mini-slider__slider
    width: 66%
    height: 500px
  .mini-slider__slide
    height: auto
  .mini-slider__slider-wrapper
    position: static
    width: 100%

  .page__container
    column-gap: 70px
  .page__work
    &:first-child::before
      left: -10px
    &:last-child::before
      right: -10px
  .page-hero__wrapper
    padding-left: 120px
  .page-hero__head
    height: auto

  .contact__data-contact
    margin-right: 70px
