@media ( max-width:480px )

  .container
    padding-left: 30px
    padding-right: 30px

  .main-slider__container
    padding-top: 144px
  .main-slider
    max-height: 489px
  .main-slider__head
    max-width: 76%

  .main-about h2
    font-size: 36px
  .main-about__head
    margin-bottom: 22px
  .main-about__spec
    padding-top: 20px
  .main-about__spec-wrap
    margin-right: 10px
    margin-bottom: 30px
    max-width: none
    min-width: 155px
    align-items: center
  .main-about__spec-icon
    width: 50px
    height: 50px
    &--chair
      width: 26px
    &--wardrobe
      width: 26px
    &--home
      width: 26px
    &--repair
      width: 26px
  .main-about__spec-title
    // font-size: 13px

  .mini-slider
    padding-bottom: 25px
  .mini-slider__container
    padding-left: 0
    padding-right: 0
    flex-direction: column
  .mini-slider__left
    width: 100%
    margin-bottom: 30px
  .mini-slider__slider
    width: 84%
    // height: 280px
  .mini-slider__intro
    height: 255px
    margin-bottom: 30px
    // width: 140px
    // top: 100px

  .mini-slider__item
    font-size: 16px
    line-height: 22px
    margin-bottom: 20px
  .mini-slider__button
    // margin-top: 79px

  .page__container
    grid-template-rows: repeat(6, min-content)
    row-gap: 40px
    padding-left: 0
    padding-right: 0
  .page-hero
    // padding-top: 208px
    // background-size: 100% 260px
    &--interior,
    &--mobilier,
    &--arhitectura
      // padding-bottom: 0
  .page-hero__head
    // margin-left: 10px
    &--reparatie
      margin-left: 10px
  .page-hero__content
    // margin-left: 10px
    p
      // @include hide
  .page__title
    padding-left: 18px
    font-size: 14px
  .page__adress
    padding-left: 18px
    font-weight: 100
    font-size: 12px

  .portfolio-head__undertitle
    font-size: 50px
  .portfolio-head__head
    font-size: 22px

  .contact__image
    margin-left: -30px
    &::before
      width: 55px
      height: 99px
      right: 19px
  .contact__data-contact,
  .contact__data-adress
    margin-right: 35px
  .contact__item a
    width: 35px
    height: 35px
  .contact__form
    width: 100%
  .contact__location
    height: 350px

  .error-404__head
    font-size: 130px
  .error-404__block
    padding: 12px 25px
  .error-404__text
    font-size: 20px

  .footer__content
    grid-template-rows: 40px 1fr
  .footer__phone,
  .footer__email,
  .footer__adress
    font-size: 14px
  .footer__copyright
    font-size: 13px
