@include mediaPhone

  body
    font-size: 18px
    &._lock
      overflow: hidden

  .heading
    font-size: 36px

  .container
    padding-left: 46px
    padding-right: 46px

  .header
    // position: fixed
    top: 0
    left: 0
    width: 100%
    // background-color: $black
    z-index: 7
  .header__container
    align-items: center
  .header__link
    &--phone
      display: block
      width: auto
      margin-bottom: 40px
      font-size: 18px
      text-align: unset
      order: 3

  .menu__body
    display: flex
    flex-direction: column
  .menu__list
    margin-bottom: 60px
    order: 2
  .menu__item
    margin-right: 0
    margin-left: 3px
    margin-bottom: 10px
    &:not(:last-child)
      // order: 2
      margin-left: 3px
    &:last-child
      // order: 1
  .menu__item.menu__arrow
  .sub-menu
    display: flex
    flex-direction: column
    align-items: flex-end
    li
      margin-bottom: 7px

  .slider-aside
    @include hide
  .slider-aside__list
    display: flex
    align-items: center
    order: 4
  .slider-aside__item:not(:last-child)
    margin-bottom: 0
    margin-right: 30px
  .slider-aside__item .social__icon
    width: 40px
    height: 40px

  .main-slider
  //   max-height: 590px
  //   min-height: auto
  //   padding-top: 81px
  //   padding-bottom: 116px
  //   &::before
  //     position: absolute
  //     content: ''
  //     bottom: -47px
  //     right: 57px
  //     width: 61px
  //     height: 110px
  //     background-image: url(../images/icons/sprite.svg#double-line-orange)
  //     background-position: center
  //     background-repeat: no-repeat
  //     background-size: cover
  //     z-index: 1
  // .main-slider__container
  //   justify-content: flex-start
  //   margin-left: 62px
  //   padding-top: 196px
  // .main-slider__button
  //   margin-top: 20px
  //   padding: 12px 30px
  //   width: auto
  //   max-width: none
  //   // font-size: 18px
  // .main-slider__head
  //   max-width: 54%
  //   font-size: 36px

  .main-about
    background-image: none
    h2
      font-size: 42px
  .main-about__spec-title
    font-size: 21px

  .mini-slider
    background-position: center top
    background-size: 100% auto
  .mini-slider__container
    padding-left: 0
    padding-right: 0
  // .mini-slider__slider
  //   height: 350px
  // .mini-slider__slide
  //   position: relative
  //   &::before
  //     position: absolute
  //     content: ''
  //     top: 0
  //     left: 0
  //     right: 0
  //     bottom: 0
  //     background-color: rgba(7, 7, 7, 0.5)
  .mini-slider__intro
    // width: 200px
    height: 410px
    margin-bottom: 50px
    top: 94px
  .mini-slider__item
    font-size: 18px
    margin-bottom: 32px
  .mini-slider__button
    padding: 8px 30px

  .page__section
    padding-bottom: 45px
  .page__container
    column-gap: 30px
    row-gap: 30px
    // grid-template-rows: repeat(4, min-content)
    // grid-template-rows: 295px 205px 205px 345px
  .page-hero
    // min-height: auto
    // padding-bottom: 100px
  .page-hero__wrapper
    // padding-left: 0
  .page-hero__content
    // padding-top: 0
  .page-hero__head
    // width: 250px
    // flex-shrink: 0
    &--interior
      // margin-right: 30px
    &--mobilier
      margin-right: 30px
    &--arhitectura
      width: 254px
      margin-right: 40px
    &--reparatie
      width: 300px
      margin-top: 0
      margin-right: 40px
  .page-hero
    // padding-top: 170px
  .page-hero__btn--reparatie
    margin-top: 100px
  .page__work
    &:nth-child(n+1),
    &:nth-child(n+2)
      & .page__photo
        height: 35vw
    &:nth-child(n+5),
    &:nth-child(n+4)
      // grid-column: 2 span
      grid-row: 1 span
      grid-column: 3 span
      & .page__photo
        height: 35vw
    &:nth-child(6n+3)
      grid-column: 6 span
      grid-row: 2 span
      & .page__photo
        height: 35vw
    &:nth-child(n+6)
      grid-column: 6 span
      grid-row: 1 span
      & .page__photo
        height: 35vw
    &:nth-child(n+7)
      grid-row: 1 span
      grid-column: 2 span
      & .page__photo
        height: 30vw

    &:first-child::before,
    &:last-child::before
      display: none
  .page__title
    font-size: 16px
  .page__adress
    font-size: 1px
    &::before
      position: relative
      content: ''
      display: block
      top: 2px
      left: 0
      width: 76px
      height: 1px
      background-color: $orange

  .contact
    &::before,
    &::after
      display: none
  .contact__image
    position: relative
    display: block
    width: 100vw
    height: 247px
    margin-left: -46px
    opacity: 1
    visibility: visible
    &::before
      position: absolute
      content: ''
      bottom: -59px
      right: 34px
      width: 61px
      height: 110px
      background-image: url(../images/icons/sprite.svg#double-line-orange)
      background-position: center
      background-repeat: no-repeat
      background-size: cover
      z-index: 1

  .contact__head
    margin-bottom: 0
    margin-left: 0
    transform: translateY(-60px)
    &::before
      display: none
  .contact__content
    flex-wrap: wrap
    margin-left: 0
  .contact__list
    display: flex
    flex-direction: column
    visibility: visible
    opacity: 1
    order: 2
  .contact__data
    display: flex
    flex-direction: column
    margin-bottom: 40px
  .contact__data-wrap
    display: flex
  .contact__data-wrap-data
    margin-bottom: 0
    margin-right: 0
  .contact__data-adress
    margin-right: 70px
    order: 3
  .contact__item
    &:not(:last-child)
      margin-bottom: 30px
    a
      display: flex
      align-items: center
      justify-content: center
      width: 40px
      height: 40px
    svg
      width: 40px
      height: 40px
      fill: $light-grey
  .contact__button--call
    margin-bottom: 60px
    order: -1
  .contact__location
    height: 450px

  .page-about__content p,
  .page-about__item-right p
    font-size: 18px
  .page-about__content p:not(:last-child)
    margin-bottom: 35px

  .error-404__head
    font-size: 160px

  .footer
    padding-top: 35px
