@media ( max-width:768px )

  body
    font-size: 18px
    &._lock
      overflow: hidden

  .heading
    font-size: 36px

  .container
    padding-left: 46px
    padding-right: 46px

  .header
    position: fixed
    top: 0
    left: 0
    width: 100%
    background-color: $black
    z-index: 7
  .header__container
    align-items: center
  .header__link
    &--logo
      width: 88px
      height: 41px
    &--phone
      display: block
      margin-bottom: 40px
      font-size: 18px

  .slider-aside
    @include hide
  .slider-aside__list
    display: flex
    align-items: center
  .slider-aside__item:not(:last-child)
    margin-bottom: 0
    margin-right: 30px
  .slider-aside__item .social__icon
    width: 40px
    height: 40px

  .main-slider
    max-height: 590px
    min-height: auto
    padding-top: 101px
    padding-bottom: 116px
    &::before
      position: absolute
      content: ''
      bottom: -47px
      right: 57px
      width: 61px
      height: 110px
      background-image: url(../images/icons/sprite.svg#double-line-orange)
      background-position: center
      background-repeat: no-repeat
      background-size: cover
      z-index: 1
  .main-slider__container
    justify-content: flex-start
    margin-left: 62px
    padding-top: 196px
  .main-slider__head
    max-width: 54%
    font-size: 36px

  .main-about
    background-image: none
  .main-about__spec-title
    font-size: 21px

  .mini-slider__container
    padding-left: 0
    padding-right: 0
  .mini-slider__slider
    height: 350px
  .mini-slider__slide
    position: relative
    &::before
      position: absolute
      content: ''
      top: 0
      left: 0
      right: 0
      bottom: 0
      background-color: rgba(7, 7, 7, 0.5)
  .mini-slider__intro
    width: 200px
    top: 94px
  .mini-slider__button
    padding: 8px 30px

  .page
    padding-bottom: 45px
  .page__container
    column-gap: 30px
    row-gap: 30px
    // grid-template-rows: repeat(4, min-content)
    // grid-template-rows: 295px 205px 205px 345px
  .page-hero
    min-height: auto
    padding-bottom: 100px
  .page-hero__wrapper
    padding-left: 0
  .page-hero__content
    padding-top: 0
  .page-hero__head
    width: 250px
    flex-shrink: 0
    &--interior
      margin-right: 30px
    &--mobilier
      margin-right: 30px
    &--arhitectura
      width: 254px
      margin-right: 40px
  .page-hero
    padding-top: 170px
  .page__work
    &:nth-child(6n+1),
    &:nth-child(6n+2)
      & .page__photo
        height: 35vw
    &:nth-child(6n+5),
    &:nth-child(6n+4)
      // grid-column: 2 span
      grid-row: 1 span
      grid-column: 3 span
      & .page__photo
        height: 35vw
    &:nth-child(6n+3)
      grid-column: 6 span
      grid-row: 2 span
      & .page__photo
        height: 35vw
    &:nth-child(6n)
      grid-column: 6 span
      grid-row: 1 span
      & .page__photo
        height: 35vw
    &:first-child::before,
    &:last-child::before
      display: none
  .page__title
    font-size: 16px
  .page__adress
    font-size: 13px
    &::before
      position: relative
      content: ''
      display: block
      top: 22px
      left: 0
      width: 76px
      height: 1px
      background-color: $orange

  .contact
    &::before,
    &::after
      display: none
  .contact__image
    position: relative
    display: block
    width: 100vw
    height: 247px
    margin-left: -46px
    opacity: 1
    visibility: visible
    &::before
      position: absolute
      content: ''
      bottom: -59px
      right: 34px
      width: 61px
      height: 110px
      background-image: url(../images/icons/sprite.svg#double-line-orange)
      background-position: center
      background-repeat: no-repeat
      background-size: cover
      z-index: 1

  .contact__head
    margin-bottom: 0
    margin-left: 0
    transform: translateY(-60px)
    &::before
      display: none
  .contact__content
    flex-wrap: wrap
    margin-left: 0
  .contact__list
    display: flex
    flex-direction: column
    visibility: visible
    opacity: 1
    order: 2
  .contact__data
    display: flex
    flex-direction: column
    margin-bottom: 40px
  .contact__data-wrap
    display: flex
  .contact__data-wrap-data
    margin-bottom: 0
    margin-right: 0
  .contact__data-adress
    margin-right: 70px
    order: 3
  .contact__item
    &:not(:last-child)
      margin-bottom: 30px
    a
      display: flex
      align-items: center
      justify-content: center
      width: 40px
      height: 40px
    svg
      width: 40px
      height: 40px
      fill: $light-grey
  .contact__button--call
    margin-bottom: 60px
    order: -1
  .contact__location
    height: 450px

  .footer
    padding-top: 35px
