@media ( max-width:768px )

  body
    font-size: 18px
    &._lock
      overflow: hidden

  // @import 'nav'

  .heading
    font-size: 36px

  .container
    padding-left: 46px
    padding-right: 46px

  .header
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 7
    background-color: $black
  .header__container
    align-items: center
  .header__link
    &--logo
      width: 88px
      height: 41px
    &--phone
      display: block
      margin-bottom: 40px
      font-size: 18px

  .slider-aside
    @include hide
  .slider-aside__list
    display: flex
    align-items: center
  .slider-aside__item:not(:last-child)
    margin-bottom: 0
    margin-right: 30px
  .slider-aside__item .social__icon
    width: 40px
    height: 40px

  .main-slider
    padding-top: 116px
    padding-bottom: 116px
    max-height: 590px
    min-height: auto
    &::before
      content: ''
      position: absolute
      bottom: -47px
      right: 57px
      height: 110px
      width: 61px
      background-image: url(../images/icons/sprite.svg#double-line-orange)
      background-position: center
      background-repeat: no-repeat
      background-size: cover
      z-index: 1
  .main-slider__container
    justify-content: flex-start
    margin-left: 62px
    padding-top: 196px
  .main-slider__head
    max-width: 54%
    font-size: 36px

  .main-about
    background-image: none
  .main-about__spec-title
    font-size: 21px

  .mini-slider__container
    padding-left: 0
    padding-right: 0
  .mini-slider__slider
    height: 350px
  .mini-slider__slide
    position: relative
    &::before
      position: absolute
      content: ''
      top: 0
      left: 0
      right: 0
      bottom: 0
      background-color: rgba(7, 7, 7, 0.5)
  .mini-slider__intro
    width: 200px
    top: 94px
  .mini-slider__button
    padding: 8px 30px
