$bgc: #e3e3e1
//$text: rgba(53, 64, 83, 0.5)
$grey: #f6f6f6
$light-grey: #c4c4c4
$dark-grey: #d3d3d3
$orange: #fbb03b
$black: #000000
$white: #ffffff

$bgc2: #EDEDEC
$dark: #2F2F2F

// переменные по умолчанию
$containerPadding: 15
$contentWidth: 1360
$containerWidth: $contentWidth + $containerPadding * 2
$minWidth: 320

// Media 
$pc: 1023.98px // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98px // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 768.98px // Телефоны L - 768px
$mobileMid: 575.98px // Телефоны M - 576px
$mobileSmall: 479.98px // Телефоны S - 480px


%body
  font-family: 'Gilroy', sans-serif
  font-weight: 400
  font-size: 18px
  line-height: 1.1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

%head
  font-family: 'Gilroy', sans-serif
  font-weight: 600
  font-size: 60px
  line-height: 1.1
