.page-hero__content::after
  animation: move-down 5s infinite linear
  @include mediaPhoneMid
    // transform: translateX(-50%)

@keyframes move-down
  0%
    transform: translate(50%, 0px)
  30%
    transform: translate(50%, 30px)
  45%
    transform: translate(50%, 0px)
  70%
    transform: translate(50%, 30px)
  90%
    transform: translate(50%, 10px)
  100%
    transform: translate(50%, 0px)
