.contact
  position: relative
  background-color: $black
  color: $white
  padding-top: 150px
  padding-bottom: 70px
  &__container
    position: relative
    z-index: 5
  &::after
    position: absolute
    content: ''
    top: -47px
    right: -37px
    height: 717px
    width: 492px
    background-image: url(../images/icons/sprite.svg#location)
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    z-index: 2
  &::before
    content: ''
    position: absolute
    background-image: url(../images/bg/map-bg.jpg)
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    z-index: 1
    top: 0
    left: 0
    width: 100%
    height: 100%

  &__head
    margin-bottom: 84px
    font-family: "NoeDisplay", sans-serif
    font-weight: 700
    font-size: 100px
    line-height: 160%
    position: relative
    display: inline-block
    margin-left: 73px
    &::before
      content: ''
      position: absolute
      top: 59%
      right: -50px
      transform: translateY(-50%)
      width: 40px
      height: 52px
      background-image: url(../images/icons/sprite.svg#location-head)
      background-position: 0 0
      background-repeat: no-repeat

  &__content
    display: flex
    justify-content: space-between
    margin-bottom: 97px
    margin-left: 73px

  &__list,
  &__image
    @include hide

  &__data
    &-head
      line-height: 1
      text-transform: lowercase
      color: $orange
      margin-bottom: 30px
    &-wrap-data
      display: flex
      justify-content: space-between
      margin-bottom: 62px
    &-contact
      display: flex
      flex-direction: column
      align-items: flex-start
      flex-shrink: 0
      margin-right: 126px
      font-size: 20px
      line-height: 160%
      color: $light-grey
      // position: relative
      // z-index: 5
      a
        transition: color 0.3s ease-in-out
    &-adress
      flex-shrink: 0
      font-size: 20px
      line-height: 160%
      color: $light-grey
      font-style: normal
      max-width: 215px

  &__button
    font-weight: 800
    font-size: 16px
    line-height: 160%
    letter-spacing: 0.055em
    padding: 6px 19px
    width: 160px
    text-transform: uppercase
    &::before
      display: none

  &__form
    width: 316px
    input
      background-color: transparent
      outline: none
      border: none
      margin-bottom: 35px
      color: $white
      font-weight: 400
      font-size: 16px
      padding: 10px 15px 3px 7px
      line-height: 160%
      border-bottom: 2px solid $orange
      width: 100%
      &::placeholder
        font-weight: 400
        font-size: 16px
        line-height: 1
        color: rgba(196, 196, 196, 0.8)
      &:focus
        outline: $orange
        color: $orange
        border: 1px solid $orange
        border-radius: 3px
        padding: 10px 15px 5px 7px

  &__location
    height: 610px
    width: 100%
