.footer
  padding-top: 110px
  padding-bottom: 100px
  background-color: $black
  color: $white
  &--contact
    position: absolute
    left: 0
    right: 0
    bottom: 0
    width: 100%
    padding-top: 10px
    padding-bottom: 26px
    // height: 100%
    color: $white
    background-color: transparent
    z-index: 1

  &__content
    display: grid
    grid-template-columns: repeat(6, 1fr)
    grid-template-rows: repeat(2, 1fr)
    gap: 20px
    // grid-column: 6 span
    // align-items: flex-start
    // justify-content: space-between
    // margin-bottom: 98px
    &--contact
      grid-template-columns: 1fr
      grid-template-rows: 1fr

  &__head
    grid-column: 2 span
    grid-row: 1 span
    // margin-bottom: 56px
    line-height: 1
    text-transform: lowercase
    color: $orange

  &__list
    display: flex
    grid-column: 2 span
    grid-row-start: 2
    align-items: center
    margin-bottom: 10px
  &__item
    margin-bottom: 0!important
    background-color: $black
    // border: 2px solid $light-grey
    // border-radius: 100%
    transition: border 0.3s ease-in-out
    &:not(:last-child)
      // margin-right: 38px
    a
      display: flex
      justify-content: center
      align-items: center
      width: 40px
      height: 40px
    svg
      width: 40px
      height: 40px
      fill: $light-grey

  &__data
    display: flex
    grid-column: 4 span
    grid-row: 2 span
    align-items: flex-start
    // justify-content: space-between
    flex-wrap: wrap

  &__contact
    display: flex
    flex-direction: column
    align-items: flex-start
    flex-shrink: 0
    margin-right: 126px
    font-size: 20px
    line-height: 160%
    color: $light-grey
    a
      transition: color 0.3s ease-in-out

  &__adress
    flex-shrink: 0
    max-width: 215px
    font-size: 20px
    font-style: normal
    line-height: 160%
    color: $light-grey

  &__copyright
    width: 100%
    font-size: 16px
    line-height: 160%
    color: #737272
