.header
  position: absolute
  top: 0
  width: 100%
  padding-top: 30px
  padding-bottom: 30px
  // background-color: $black
  color: $white
  z-index: 100
  &__container
    display: flex
    align-items: flex-start
    justify-content: space-between
  &__link
    &--logo
      position: relative
      width: 117px
      height: 55px
      z-index: 5
      // left: 183px
      &-index
        // transform: translateX(calc(-3% - 116px))
        transform: translateX(-103px)
    &--phone
      // margin-top: 6px
      margin-left: 50px
      font-weight: 800
      font-size: 14px
      line-height: 160%
      letter-spacing: 0.2em
      color: $orange
      transition: color 0.3s ease-in
      // transform: translateX(-45px)
