@media ( min-width: 992px )
  .button:hover::before
    right: 37px
  .button:hover
    background-color: darken($orange, 5%)
  .menu__item:hover
    color: $orange

  .main-slider__btn-fill:hover
    fill: $orange
  .social__icon:hover
    fill: $orange
  .mini-slider__btn-fill:hover
    fill: $orange

  .page-hero__btn:hover::before
    right: 18px

  .page__work:hover .page__photo
    transform: scale(102%)
  .page__work:hover h2
    color: $orange

  .portfolio-head__btn:hover::before
    right: 18px

  .footer__item:hover
    border-color: $orange
  .footer__item:hover svg
    fill: $orange
  .footer__data a:hover
    color: $orange
