@media ( min-width: 992px )
  .button:hover::before
    right: 19px
  .button:hover
    background-color: darken($orange, 5%)
  .menu__item:hover
    color: $orange

  .main-slider__btn-fill:hover
    fill: $orange
  .main-slider__button:hover::before
    // right: 22px
  .social__icon:hover
    fill: $orange
  .mini-slider__btn-fill:hover
    fill: $orange

  .main-servicii__button:hover::before
    // right: 32px

  .page-hero__btn:hover::before
    // right: 18px

  .page__work:hover .page__photo
    transform: scale(102%)
  .page__work:hover h2
    color: $orange

  .portfolio-head__btn:hover::before
    // right: 18px
  .portfolio-slider__btn-fill:hover
    fill: $orange

  .contact__data-contact a:hover
    color: $orange
  .contact__button:hover::before
    // right: 30px

  .error-404__btn:hover
    background-color: $white
    color: $orange
  .not-found .header__link--phone:hover
    color: $white
  .not-found .menu__item:hover
    color: $white

  .footer__item:hover
    border-color: $orange
  .footer__item:hover svg
    fill: $orange
  .footer__data a:hover
    color: $orange
