.main-slider
  position: relative
  height: 100vh
  min-height: 580px
  max-height: 800px
  background-color: $black
  color: $white
  &__container
    box-sizing: border-box
    display: flex
    justify-content: flex-end
    width: 100%
    padding-top: 314px
  &__slide
    display: flex
    // align-items: center
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    &::before
      position: absolute
      content: ''
      top: 0
      left: -9px
      background-image: url(../images/slider-aside.svg)
      background-size: cover
      background-position: 0 0
      height: 100%
      width: 321px
      z-index: 3
    &::after
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color: $black
      opacity: .6
      z-index: 1
  &__head
    position: relative
    max-width: 960px
    // width: 100%
    font-size: 100px
    line-height: 120px
    color: $white
    z-index: 5
    span
      color: $orange
  &__btn
    position: absolute
    top: 54%
    transform: translateY(-50%)
    height: 22px
    width: 25px
    cursor: pointer
    z-index: 12
    &-prev
      left: calc(50% - 492px)
    &-fill
      width: 25px
      height: 22px
      fill: $dark-grey
      object-fit: cover
      transition: fill 0.3s ease-in-out
    &-next
      right: calc(50% - 646px)
      transform: rotate(180deg)
