.nav
  margin-top: 6px
  &__list
    @include fl-all
  &__item
    font-weight: 800
    font-size: 14px
    line-height: 160%
    letter-spacing: 0.2em
    text-transform: uppercase
    color: #f6f6f6
    transition: color 0.3s ease-in-out
    &:not(:last-child)
      margin-right: 39px
