.social
  &__item
    margin: 0
    padding: 0
    line-height: 1
    &:not(:last-child)
      margin-bottom: 20px
  &__icon
    width: 25px
    height: 25px
    // fill: $white
    fill: #A0958C
    object-fit: cover
    transition: fill 0.3s ease-in-out
